Redirect permanent /paul/photos/whitby.html http://www.cluefactory.org.uk/paul/photos/whitby/
Redirect permanent /paul/photos/1999.04-whitby http://www.cluefactory.org.uk/paul/photos/whitby/1999.04
Redirect permanent /paul/photos/1999.11-whitby http://www.cluefactory.org.uk/paul/photos/whitby/1999.11
Redirect permanent /paul/photos/2000.04-whitby http://www.cluefactory.org.uk/paul/photos/whitby/2000.04
Redirect permanent /paul/photos/2000.11-whitby http://www.cluefactory.org.uk/paul/photos/whitby/2000.11

